{
    "config": {
        "useJwksUrl": "true",
        "syncMode": "IMPORT",
        "clientId": "{{ id_provider_client_id }}",
        "userIp": "",
        "offlineAccess": "",
        "acceptsPromptNoneForwardFromClient": "",
        "disableUserInfo": "",
        "hideOnLoginPage": "",
        "clientSecret": "{{ id_provider_client_secret }}"
    },
    "alias": "{{ id_provider_name }}",
    "providerId": "{{ id_provider_name }}",
    "enabled": true,
    "authenticateByDefault": false,
    "firstBrokerLoginFlowAlias": "first broker login",
    "postBrokerLoginFlowAlias": "",
    "storeToken": "",
    "addReadTokenRoleOnCreate": "",
    "trustEmail": true,
    "linkOnly": ""
}