{
    "id": "{{ keycloak_realm_name}}",
    "realm": "{{ keycloak_realm_name }}",
    "displayName": "{{ keycloak_realm_name }}",
    "loginTheme": "{{ keycloak_theme_name }}",
    "accountTheme": "{{ keycloak_theme_name }}",
    "enabled": true,
    "internationalizationEnabled": true,
    "supportedLocales": [
        "es"
    ],
    "defaultLocale": "es"
}